.base-button {
    $basebutton: &;

    @apply inline-flex items-center gap-sm justify-between relative m-none;
    @apply text-neutral-100 font-default bg-neutral-300;
    @apply transition-all duration-[var(--animationTime)] ease-out;

    &:is(a) {
        @apply no-underline
    }

    &:focus-visible {
        &:not(:hover) {
            @apply shadow-focus
        }
    }

    &:not(:disabled) {
        &:not([laoding=true]) {
            @apply cursor-pointer;

            @media(hover) {
                &:hover {
                    @apply shadow-light;

                    &#{$basebutton}--is-primary {
                        @apply bg-logo-400
                    }

                    &#{$basebutton}--is-secondary {
                        @apply bg-logo-100
                    }
                }

                &:active {
                    &#{$basebutton}--is-primary {
                        @apply bg-logo-500
                    }

                    &#{$basebutton}--is-secondary {
                        @apply bg-logo-400 text-neutral-100
                    }
                }
            }
        }

        &[loading=true] {
            @include create-spinner(
                $position: absolute,
                $borderColor: var(--color-neutral-100),
                $borderBColor: var(--color-outline)
            ){
                @apply right-xmd
            };

            @apply pr-xxxlg pointer-events-none;

            &:not(#{$basebutton}--is-secondary) {
                @apply bg-logo-400;
            }
        }
    }

    &:disabled {
        @apply bg-neutral-300;
        @apply text-neutral-100
    }

    &--is {
        &-default {
            @apply px-md py-xmd;
            @apply rounded-lg text-md
        }

        &-small {
            @apply px-xmd py-sm;
            @apply rounded-md text-sm
        }

        &-primary {
            &:not(:disabled) {
                @apply bg-logo-600
            }
        }

        &-secondary {
            &:not(:disabled) {
                @apply bg-neutral-100
            }

            @apply text-logo-600 border-logo-600 border-[1px] border-solid
        }
    }
}