.base-button {
    $basebutton: &;
    @include create-animation(
      $name: 'change-button-state',
      $from: translateY(10%),
      $to: translateY(-10%),
      $duration: var(--animationTime),
      $duration-out: .2s
    );

    @apply bg-default-none border-none outline-none select-none; // reset

    @apply inline-flex items-center gap-sm justify-between relative;
    @apply text-neutral-100 font-default bg-neutral-300;
    @apply transition-all duration-[var(--animationTime)];

    &:is(a) {
        @apply no-underline
    }

    &:focus-within {
        &:not(:hover) {
            @apply shadow-focus
        }
    }

    &:not(:disabled) {
        &:not([laoding=true]) {
            @apply cursor-pointer;

            @media(hover) {
                &:hover {
                    @apply shadow-light;

                    &#{$basebutton}--is-primary {
                        @apply bg-logo-400
                    }

                    &#{$basebutton}--is-secondary {
                        @apply bg-logo-100
                    }
                }

                &:active {
                    &#{$basebutton}--is-primary {
                        @apply bg-logo-500
                    }

                    &#{$basebutton}--is-secondary {
                        @apply bg-logo-400 text-neutral-100
                    }
                }
            }
        }

        &[loading=true] {
            @apply pr-xxxlg pointer-events-none;
            @apply bg-logo-500;

            &::after {
                @apply w-md aspect-square inline-block content-[''] absolute right-xmd;
                @apply border-[1px] border-neutral-100 border-solid border-b-logo-600 rounded-[50%];
                @apply animate-spinner;

                &#{$basebutton}--is-secondary {
                    @apply border-logo-400 border-b-neutral-300
                }
            }
        }
    }

    &--is {
        &-default {
            @apply px-md py-xmd;
            @apply rounded-lg text-sm
        }

        &-small {
            @apply px-xmd py-sm;
            @apply rounded-md text-md
        }

        &-primary {
            &:not(:disabled) {
                @apply bg-logo-600
            }
        }

        &-secondary {
            &:not(:disabled) {
                @apply bg-neutral-100
            }

            @apply text-logo-600 border-logo-600 border-[1px] border-solid
        }
    }
}