.entry-point {
    $entrypoint: &;

    @apply flex flex-col gap-md h-full;

    &__board {
        @apply flex-[2] overflow-hidden;

        @include create-animation(
            $name: 'from-top',
            $from: translateY(-50%),
            $to: translateY(-50%),
            $duration: .4s,
            $duration-out: var(--outAnimationTime),
        );
    }

    &__form {
        @apply flex items-center justify-between;

        > * {
            &:is(.base-input) {
                @apply min-w-[300px]
            }
        }
    }
}