.responsive-panel {
    $responsivepanel: &;
    --max-width: 100%;

    @apply inline-flex flex-1 flex-col p-sm min-w-[var(--max-width)] gap-sm relative;
    @apply bg-neutral-100 shadow-light-center rounded-b-sm;

    @screen tablet-pt {
        --max-width: 16rem;

        @apply flex-none items-start min-h-full;
        @apply shadow-light-right rounded-b-none;
    }

    &__header {
        @apply inline-flex flex-none items-center justify-between;

        @screen tablet-pt {
            @apply items-start w-full flex-none;

            > * {
                @apply w-full;
            }
        }
    }

    &__content {
        @apply fixed w-full left-none flex-1 p-sm bottom-none h-[calc(100vh-(6vh+(var(--spacing-30)*2)))];
        @apply bg-neutral-200;
        @apply translate-x-[100vw] transition-transform duration-[var(--animationTime)] ease-out;
       
        @screen tablet-pt {
            @apply relative p-none;
            @apply bg-default-none;
            @apply translate-x-none
        }

        [open=true] & {
            @apply translate-x-none
        }
    }

    &__close {
        @include create-hamburger-menu(
            $width: var(--spacing-60),
            $color: var(--color-logo-500),
            $activeColor: var(--color-outline)
        );

        @screen tablet-pt {
            @apply hidden
        }
    }
}