@charset "utf-8";
@use './units' as useUnit;
@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300..900&display=swap');

:root {
    --font-default-family: "Figtree", sans-serif;

    --font-weight-400: 400;
    --font-weight-600: 600;
    --font-weight-700: 700;

    --font-style-normal: normal;
    --font-style-bold: bold;

    --font-size-xl: #{px2rem(calc(30))};
    --font-size-l: #{px2rem(calc(20))};
    --font-size-regular: #{px2rem(calc(16))};
    --font-size-sm: #{px2rem(calc(14))};
    --font-size-xs: #{px2rem(calc(12))};
    --font-size-xxs: #{px2rem(calc(10))};

    --font-underline: underline
}