.card-data {
    $cardData: &;

    @apply flex flex-col py-sm px-xmd gap-sm;
    @apply bg-neutral-200 rounded-md border-background-200 border-[1px] border-solid;
    @apply font-default;
    
    &__header {
        @apply flex gap-sm justify-between items-center
    }
    

    &__title {
        @apply text-logo-600 font-medium text-md;

        &:is(h2) {
            @apply m-none
        }
    }

    &__content,
    &__footer {
        @apply text-xsm
    }

    &__content {
        @apply p-none m-none;
        @apply text-logo-400
    }

    &__footer {
        @apply flex gap-xsm items-center;
        @apply text-logo-300
    }

    &__contextual-action {
        @include create-contextual-menu(
            $color: var(--color-logo-600),
            $hoverColor: var(--color-outline)
        );
    }

    &--is {
        &-truncate {
            @apply flex-1 overflow-hidden w-full;
            @apply truncate
        }

        &-dragged {
            @apply opacity-50;
            @apply cursor-wait
        }
    }
}