.drawer-panel {
    $drawerpanel: &;
    --out-transition: 110%;

    @apply p-none h-screen;
    @apply outline-none border-none rounded-sm;
    @apply transition-transform duration-[var(--outAnimationTime)] ease-out;
    @apply shadow-light-center;
    width: max(10vw, var(--max-drawer));

    @screen phone {
        @apply max-h-full;
        width: max(10vw, 100vw);
    }

    &::backdrop {
        @apply bg-logo-600 opacity-70;
        @apply transition-transform duration-[--animationTime]
    }

    &--is {
        &-center {
            @apply inset-x-none inset-y-none max-h-none h-fit;
        }

        &-left {
            inset: 0 auto 0 var(--spacing-50);

            @screen phone {
                @apply inset-none
            }
        }

        &-right {
            inset: 0 var(--spacing-50) 0 auto;

            @screen phone {
                @apply inset-none
            }
        }
    }

    &[out=true] {
        @apply animate-none;
        transform: translateX(calc(var(--out-transition)));

        &::backdrop {
            opacity: 0;
        }
    }

    
    &[open]{
        @apply flex;

        &#{$drawerpanel}--is-left {
            &:not([out='true']) {
                @apply animate-slide-from-left
            }

            &[out='true'] {
                --out-transition: -110%
            }
        }

        &#{$drawerpanel}--is-right {
            @apply animate-slide-from-right
        }

        &#{$drawerpanel}--is-center {
            @apply animate-slide-from-center;

            &[out='true'] {
                transform: translateY(var(--out-transition));
                @apply opacity-0
            }
        }
    }
    

    &__content {
        @apply p-md flex flex-col gap-lg flex-1;
        @apply font-default;
    }

    &__header {
        @apply flex justify-between items-center gap-sm;
    }

    &__title {
        @apply m-none p-none flex gap-sm; 
        @apply font-default font-bold text-lg uppercase text-logo-500;
    }

    &__close {
        @apply mr-none ml-auto flex justify-center relative w-lg aspect-square;
        @apply bg-default-none border-none cursor-pointer outline-none rounded-xsm;
        @apply transition-colors duration-[var(--animationTime)];
        
        @media(hover) {
            &:hover {
                &:before,
                &:after {
                    transform: rotate(0deg);
                } 
            }
        }

        &:focus-visible {
            @apply shadow-focus
        }

        &:before,
        &:after {
            @apply h-[1px] inline-block left-none absolute w-full top-1/2;
            @apply content-[''] bg-logo-400;
            @apply transition-transform duration-[var(--outAnimationTime)]
        }

        &::before {
            transform: rotate(45deg)
        }

        &::after {
            transform: rotate(-45deg)
        }
    }
}