.accordion-info {
    $accordionInfo: &;
    --arrow-transform: rotate(45deg) translateY(-2px);
    --custom-color: #000;

    @apply px-sm pb-sm;
    @apply select-none;
    @apply font-default;

    &:not(:has(details)) {
        @apply p-none;
    }

    &[open] {
        > summary {
            @apply mb-xmd;

            &::after {
                --arrow-transform: rotate(-135deg) translateY(-2px);
            }
        }
    }

    &__summary {
        @apply flex items-center justify-center m-none gap-sm pt-xmd pr-sm;
        @apply text-sm text-logo-300 uppercase;
        @apply outline-none cursor-pointer rounded-xsm;
        @apply transition-all duration-[var(--outAnimationTime)] ease-out;

        &::after {
            @apply inline-block p-xsm ml-auto right-sm;
            @apply content-[''] border-solid border-logo-300 border-t-0 border-r-[1px] border-b-[1px] border-l-0;
            @apply transition-transform duration-[var(--animationTime)];
            transform: var(--arrow-transform);

            #{$accordionInfo}--has-color & {
                @apply border-[var(--custom-color)]
            }
        }

        &:focus-visible{
            @apply shadow-focus
        }

        ~ * {
            #{$accordionInfo}__summary,
            #{$accordionInfo}__content {
                @apply p-none;
                @apply normal-case
            }
        }

        #{$accordionInfo}--has-color & {
            @apply text-[var(--custom-color)];

            &::after {
                @apply border-[var(--custom-color)]
            }
            
            + #{$accordionInfo}__content {
                @apply text-[var(--custom-color)]
            }
        }
    }

    &__content {
        @apply rounded-sm bg-neutral-200 p-xmd;
    }
}