.base-input {
    $baseinput: &;

    @apply py-sm px-xmd flex items-center gap-xsm relative;
    @apply text-logo-300;
    @apply bg-background-300 border-background-200 border-solid border-[1px] rounded-md;

    @apply transition-colors duration-[var(--animationTime)];

    &:not(:has(input:invalid)) {
        &:focus-within {
            &:not(:has(input:hover)) {
                @apply shadow-focus
            }
        }
    }

    &--is {
        &-fullsize {
            @apply w-full;
        }
    }

    &[dirty=true] {
        &:has(input:invalid) {
            @apply shadow-invalid
        }
    
        &:has(input:valid) {
            @apply shadow-valid
        }
    }

    @media (hover) {
        &:not(:read-only) {
            &:hover {
                &:not(:has(input:invalid)):not(:has(input:valid)) {
                    @apply shadow-hover
                }
            }
        }
    }

    &:has(input:read-only) {
        @apply bg-neutral-300
    }

    &[loading=true] {
        @include create-spinner(
            $borderColor: var(--color-neutral-100),
            $borderBColor: var(--color-outline)
        );

        @apply pointer-events-none;
    }

    &__field {
        @apply bg-default-none border-none outline-none w-full;
        @apply font-default text-md text-logo-300;

        &::placeholder {
            @apply text-logo-300
        }

        &:is(input[type="search"]) {
            &::-webkit-search-decoration,
            &::-webkit-search-cancel-button,
            &::-webkit-search-results-button,
            &::-webkit-search-results-decoration {
                -webkit-appearance:none;
            }
        }

        &:read-only {
            @apply cursor-not-allowed select-none pointer-events-none
        }
    }

    &__message {
        @apply text-xsm font-default text-warning-100;
        @apply m-none p-none
    }

    + * {
        &:is(#{$baseinput}__message) {
            @apply m-none w-full
        }
    }
}